// main: ../style.less

.characters-block {
    width: 565px;
    display: block;

// .characters-block__item

&__item {
    border-bottom: 1px solid #D7D9DF;
    padding: 20px 0 8px 0;
    line-height: 21px;
    display: flex;
    justify-content: space-between;
}

// .characters-block__name

&__name {
    color: #48494D;
}
}