// main: ../style.less

.feedback {
    position: relative;
    display: none;

    // .feedback__block-hidden

    &__block-hidden {
        display: none;
    }

    // .feedback__alarm

    &__alarm {
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        color: #D12136;
    }

    // .feedback_bold

    &_bold {
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
    }

    // .feedback_shift-text

    &_shift-text {
        margin-left: 12px;
    }

    // .feedback__send-btn

    &__send-btn {
        position: absolute;
        top: 10px; right: 0;
        text-align: center;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        color: #D12136;
        border: 1px solid #D12136;
        box-sizing: border-box;
        padding: 16.5px 20px;
        background-color: white;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        cursor: pointer;

        &:hover {
            background: #D12136;
            color: white;
        }
    }

    // .feedback__name

    &__name {
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        color: #48494D;
    }

    // .feedback__advice

    &__advice {
        font-size: 15px;
        line-height: 20px;
        color: #D12136;
        margin-left: 20px;
    }

    // .feedback__footer

    &__footer {
        margin-top: 26px;
    }

    // .feedback__time

    &__time {
        font-size: 14px;
        line-height: 19px;
        color: #000000;
        opacity: 0.4;
    }

    // .feedback__answer-link

    &__answer-link {
        font-size: 16px;
        line-height: 22px;
        color: #D12136;
        margin-left: 26px;
        cursor: pointer;
    }
}
