// main: ../style.less

.product-description {
    width: 60.5%;
    // .product-description__main

    &__main {
        margin: 0 auto 140px auto;
    }

    // .product-description__control-block

    &__control-block {
        width: 51%;
        margin-bottom: 10px;
    }

    // .product-description__btn

    &__btn {
        background-color: white;
        width: 33.33%;
        height: 50px;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        color: #48494D;
        border: 1px solid #D7D9DF;
        box-sizing: border-box;
        outline: none;
        cursor: pointer;
        float: left;
        letter-spacing: .5px;

        &:last-child {
            float: none;
        }
    }

    // .product-description__btn-active

    &__btn-active {
        color: #FFFFFF;
        background: #D12136;

    }
}