// main: ../style.less

.product-description {
    width: 60%;
    // .product-description__main

    &__main {
        margin: 0 auto;
    }

    // .product-description__control-block

    &__control-block {
        width: 600px;
    }

    // .product-description__btn

    &__btn {
        background-color: white;
        width: 33.33%;
        height: 50px;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        color: #48494D;
        border: 1px solid #D7D9DF;
        box-sizing: border-box;
        outline: none;
        cursor: pointer;
    }

    // .product-description__btn-active

    &__btn-active {
        color: #FFFFFF;
        background: #D12136;

    }

    // .product-description__characters-block

    &__characters-block {
        width: 565px;;
    }

    // .product-description__char

    &__char {
        border-bottom: 1px solid #D7D9DF;
        padding: 20px 0 8px 0;
        line-height: 22px;
        display: flex;
        justify-content: space-between;
    }

    // .product-description__name

    &__name {
        color: #48494D;
    }

    // .product-description__value

    &__value {
    }
}
