.slider {
  width: 600px;
}
.slider__main {
  display: flex;
  overflow-x: hidden;
}
.slider__control {
  display: flex;
  justify-content: space-between;
}
.slider__btn {
  border-radius: 500px;
  border: 1px solid #D7D9DF;
  box-sizing: border-box;
  background: #FFFFFF;
  width: 52px;
  height: 52px;
}
