body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'open sans';
}

.container {
  margin: 0 375px;
}

.menu {
  background: #F5F5F9;
  width: 100%;
  height: 84px;
}

.menu__body {
  margin: 0 auto;
  max-width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 84px;
}

.logo {
  cursor: pointer;
}

.logo__pic {
  max-height: 55px;
}

.nav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__link {
  text-decoration: none;
  color: #48494D;
  line-height: 22px;
  font-weight: 600;
  margin-left: 66px;
  white-space: nowrap;
}

.nav__link:first-child {
  margin-left: 0;
}

.main {
  width: 60%;
}

.main__wrapper {
  margin: 90px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider {
  width: 600px;
}

.slider__main {
  position: relative;
  width: 600px;
  height: 375px;
}

.slider__new-model {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #D12136;
  width: 122px;
  z-index: 1;
}

.slider__new-model p {
  margin: 7px 10px;
  color: white;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

.slider__item {
  width: 600px;
  height: 375px;
  position: absolute;
  top: 0;
  left: 0;
}

.slider__item picture {
  height: 380px;
}

.slider__item-opacity {
  opacity: 0;
}

.slider__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 39px;
}

.slider__btn {
  border-radius: 500px;
  border: 1px solid #D7D9DF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #FFFFFF;
  width: 52px;
  height: 52px;
  font-size: 24px;
  padding-bottom: 3px;
  cursor: pointer;
  outline: none;
}

.slider__mini-pic {
  margin: 0 12px;
  cursor: pointer;
}

.product-info {
  width: 340px;
}

.product-info__position {
  margin-left: 55px;
}

.product-info__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
  color: #48494D;
  margin-left: 7px;
}

.product-info__icons-block {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-info__icon {
  margin-left: 7px;
}

.product-info__descript {
  line-height: 22px;
  text-align: center;
  color: rgba(72, 73, 77, 0.5);
}

.product-info__cost-block {
  margin-top: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-info__current-cost {
  font-weight: bold;
  font-size: 35px;
  line-height: 48px;
  color: #48494D;
}

.product-info__old-cost {
  font-size: 20px;
  line-height: 27px;
  color: rgba(72, 73, 77, 0.5);
  margin-left: 33px;
  position: relative;
}

.product-info__old-cost:after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: rgba(72, 73, 77, 0.5);
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.product-info__request-btn {
  margin-top: 37px;
  height: 52px;
  background-color: #D12136;
  color: #FFFFFF;
  border: none;
}

.product-info__request-btn:hover {
  background: #BD0C21;
}

.product-info__credit-btn {
  width: 222px;
  color: #D12136;
  margin-top: 16px;
  white-space: nowrap;
  border: 1px solid #D12136;
  background-color: white;
}

.product-info__credit-btn:hover {
  background: #D12136;
  color: white;
}

.product-info__btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  padding: 16px 20px;
  cursor: pointer;
}

.product-description {
  width: 60%;
}

.product-description__main {
  margin: 0 auto;
}

.product-description__control-block {
  width: 600px;
}

.product-description__btn {
  background-color: white;
  width: 33.33%;
  height: 50px;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #48494D;
  border: 1px solid #D7D9DF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  cursor: pointer;
}

.product-description__btn-active {
  color: #FFFFFF;
  background: #D12136;
}

.product-description__characters-block {
  width: 565px;
}

.product-description__char {
  border-bottom: 1px solid #D7D9DF;
  padding: 20px 0 8px 0;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-description__name {
  color: #48494D;
}

.footer_position {
  margin-top: 140px;
}

@font-face {
  font-family: "open sans";
  src: url(../fonts/OpenSans-Regular.woff2) format("woff2");
  src: url(../fonts/OpenSans-Regular.woff) format("woff");
  font-weight: regular;
  font-style: regular;
}

@font-face {
  font-family: "open sans";
  src: url(../fonts/OpenSans-SemiBold.woff2) format("woff2");
  src: url(../fonts/OpenSans-SemiBold.woff) format("woff");
  font-weight: 600;
  font-style: regular;
}

@font-face {
  font-family: "open sans";
  src: url(../fonts/OpenSans-Bold.woff2) format("woff2");
  src: url(../fonts/OpenSans-Bold.woff) format("woff");
  font-weight: 700;
  font-style: regular;
}