body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'open sans', Arial, Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.no-scroll {
  overflow: hidden;
}

.menu {
  background: #F5F5F9;
  width: 100%;
  height: 84px;
}

.menu__body {
  margin: 0 auto;
  max-width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 84px;
}

.logo {
  cursor: pointer;
}

.logo__pic {
  max-height: 55px;
}

.nav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 50%;
}

.nav__link {
  display: block;
  text-decoration: none;
  color: #48494D;
  line-height: 22px;
  font-weight: 600;
  white-space: nowrap;
}

.main {
  width: 60%;
}

.main__wrapper {
  margin: 90px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider {
  width: 600px;
}

.slider__main {
  position: relative;
  width: 600px;
  height: 375px;
}

.slider__new-model {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #D12136;
  width: 122px;
  z-index: 1;
}

.slider__new-model p {
  margin: 7px 10px;
  color: white;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

.slider__item {
  width: 600px;
  height: 375px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.slider__item picture {
  height: 380px;
}

.slider__item-opacity {
  opacity: 0;
}

.slider__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 39px;
}

.slider__btn {
  border-radius: 500px;
  border: 1px solid #D7D9DF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #FFFFFF;
  width: 52px;
  height: 52px;
  font-size: 24px;
  padding-bottom: 3px;
  cursor: pointer;
  outline: none;
}

.slider__mini-pic {
  margin: 0 12px;
  cursor: pointer;
}

.product-info {
  width: 340px;
}

.product-info__position {
  margin-left: 55px;
}

.product-info__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
  color: #48494D;
  margin-left: 7px;
}

.product-info__icons-block {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-info__icon {
  margin-left: 7px;
}

.product-info__descript {
  line-height: 22px;
  text-align: center;
  color: rgba(72, 73, 77, 0.5);
}

.product-info__cost-block {
  margin-top: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-info__current-cost {
  font-weight: bold;
  font-size: 35px;
  line-height: 48px;
  color: #48494D;
}

.product-info__old-cost {
  font-size: 20px;
  line-height: 27px;
  color: rgba(72, 73, 77, 0.5);
  margin-left: 33px;
  position: relative;
}

.product-info__old-cost:after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: rgba(72, 73, 77, 0.5);
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.product-info__request-btn {
  margin-top: 37px;
  height: 52px;
  background-color: #D12136;
  color: #FFFFFF;
  border: none;
}

.product-info__request-btn:hover {
  background: #BD0C21;
}

.product-info__credit-btn {
  width: 222px;
  color: #D12136;
  margin-top: 16px;
  white-space: nowrap;
  border: 1px solid #D12136;
  background-color: white;
}

.product-info__credit-btn:hover {
  background: #D12136;
  color: white;
}

.product-info__btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  padding: 16px 20px;
  cursor: pointer;
}

.product-description {
  width: 60%;
}

.product-description__main {
  margin: 0 auto 140px auto;
}

.product-description__control-block {
  width: 600px;
}

.product-description__btn {
  background-color: white;
  width: 33.33%;
  height: 50px;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #48494D;
  border: 1px solid #D7D9DF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  cursor: pointer;
  float: left;
}

.product-description__btn:last-child {
  float: none;
}

.product-description__btn-active {
  color: #FFFFFF;
  background: #D12136;
}

.characters-block {
  width: 565px;
  display: block;
}

.characters-block__item {
  border-bottom: 1px solid #D7D9DF;
  padding: 20px 0 8px 0;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.characters-block__name {
  color: #48494D;
}

.feedback {
  position: relative;
  display: none;
}

.feedback__block-hidden {
  display: none;
}

.feedback__alarm {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #D12136;
}

.feedback_bold {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}

.feedback_shift-text {
  margin-left: 12px;
}

.feedback__send-btn {
  position: absolute;
  top: 10px;
  right: 0;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #D12136;
  border: 1px solid #D12136;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16.5px 20px;
  background-color: white;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  cursor: pointer;
}

.feedback__send-btn:hover {
  background: #D12136;
  color: white;
}

.feedback__name {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #48494D;
}

.feedback__advice {
  font-size: 15px;
  line-height: 20px;
  color: #D12136;
  margin-left: 20px;
}

.feedback__footer {
  margin-top: 26px;
}

.feedback__time {
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  opacity: 0.4;
}

.feedback__answer-link {
  font-size: 16px;
  line-height: 22px;
  color: #D12136;
  margin-left: 26px;
  cursor: pointer;
}

.feedback__answer {
  margin: 15px auto;
  width: 80%;
  height: 200px;
  -webkit-animation-name: expandAnswer;
          animation-name: expandAnswer;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  display: none;
  position: relative;
}

.feedback__answer textarea {
  width: 100%;
  height: 70%;
  resize: none;
  margin: 10px 0;
}

.feedback__answer-btn {
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #D12136;
  border: 1px solid #D12136;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5.5px 10px;
  background-color: white;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
  outline: none;
  visibility: hidden;
}

.feedback__answer-btn:hover {
  background: #D12136;
  color: white;
}

.feedback__answer-close-btn {
  position: absolute;
  top: -10px;
  right: -40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

@-webkit-keyframes expandAnswer {
  from {
    height: 0;
    display: none;
  }

  10% {
    display: block;
    height: 1px;
  }

  to {
    height: 200px;
  }
}

@keyframes expandAnswer {
  from {
    height: 0;
    display: none;
  }

  10% {
    display: block;
    height: 1px;
  }

  to {
    height: 200px;
  }
}

@-webkit-keyframes hideAnswer {
  from {
    height: 200px;
    display: block;
  }

  10% {
    height: 199px;
  }

  to {
    height: 1px;
    display: none;
  }
}

@keyframes hideAnswer {
  from {
    height: 200px;
    display: block;
  }

  10% {
    height: 199px;
  }

  to {
    height: 1px;
    display: none;
  }
}

.contact {
  width: 700px;
  display: none;
}

.contact__body {
  margin-top: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__addr {
  width: 35%;
}

.contact__title {
  font-weight: bold;
  line-height: 22px;
  color: #1A212F;
  margin-bottom: 18px;
}

.contact__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 23px;
}

.contact__text:last-child {
  margin-bottom: 0;
}

.contact__link {
  text-decoration: none;
  color: black;
}

.contact__map {
  width: 55%;
}

.wrapper {
  position: relative;
  min-height: 100vh;
}

.wrapper__content {
  padding-bottom: 90px;
}

.footer {
  background: #F5F5F9;
  width: 100%;
  height: 84px;
}

.footer__position {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
}

.footer__body {
  margin: 0 auto;
  max-width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 84px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.nav-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.nav-footer__link {
  text-decoration: none;
  color: #48494D;
  line-height: 22px;
  font-weight: 600;
  white-space: nowrap;
}

.modal {
  width: 100%;
  height: 100vh;
  background-color: #E5E5E5;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.8;
  -webkit-transition: all 6s ease;
  -o-transition: all 6s ease;
  transition: all 6s ease;
  display: none;
  -webkit-animation-name: visible;
          animation-name: visible;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes visible {
  from {
    display: none;
    opacity: 0;
  }

  10% {
    display: block;
    opacity: 0.2;
  }

  50% {
    opacity: 0.4;
  }

  to {
    opacity: 0.8;
  }
}

@keyframes visible {
  from {
    display: none;
    opacity: 0;
  }

  10% {
    display: block;
    opacity: 0.2;
  }

  50% {
    opacity: 0.4;
  }

  to {
    opacity: 0.8;
  }
}

@-webkit-keyframes hidden {
  from {
    display: -webkit-box;
    display: flex;
    opacity: 0.9;
  }

  10% {
    display: block;
    opacity: 0.8;
  }

  50% {
    opacity: 0.5;
  }

  to {
    opacity: 0.1;
    display: none;
  }
}

@keyframes hidden {
  from {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0.9;
  }

  10% {
    display: block;
    opacity: 0.8;
  }

  50% {
    opacity: 0.5;
  }

  to {
    opacity: 0.1;
    display: none;
  }
}

.feed-window {
  position: fixed;
  top: 31.5%;
  left: 31.5%;
  width: 38.5%;
  height: 42%;
  min-width: 700px;
  min-height: 415px;
  z-index: 11;
  padding: 35px;
  background-color: #F5F5F9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: none;
  -webkit-animation-name: visible;
          animation-name: visible;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.feed-window__title {
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;
  color: #48494D;
}

.feed-window__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feed-window__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 50%;
}

.feed-window__column-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 50%;
}

.feed-window__column-one input {
  min-width: 300px;
  height: 50px;
  padding: 15px 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 16px;
  background: #FFFFFF;
  border: 1px solid rgba(72, 73, 77, 0.2);
}

.feed-window__column-two {
  padding-left: 28px;
}

.feed-window__column-two textarea {
  width: 100%;
  height: 118px;
  padding: 15px 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 16px;
  background: #FFFFFF;
  border: 1px solid rgba(72, 73, 77, 0.2);
  resize: none;
}

.feed-window__error {
  font-size: 14px;
  line-height: 19px;
  color: #FF0000;
  margin: 0;
  visibility: hidden;
}

.feed-window__rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  margin-top: 17px;
}

.feed-window__rate img {
  margin-left: 5px;
  width: 27px;
  height: 27px;
  padding-top: 5px;
  cursor: pointer;
}

.feed-window__text {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}

.feed-window__stars {
  display: inline;
}

.feed-window__send-btn {
  height: 52px;
  background: #D12136;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 16px 20px;
  border: none;
  outline: none;
  cursor: pointer;
}

.feed-window__close-btn {
  position: absolute;
  top: 25px;
  right: 25px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

@font-face {
  font-family: "open sans";
  src: url(../fonts/OpenSans-Regular.woff2) format("woff2");
  src: url(../fonts/OpenSans-Regular.woff) format("woff");
  font-weight: regular;
  font-style: regular;
}

@font-face {
  font-family: "open sans";
  src: url(../fonts/OpenSans-SemiBold.woff2) format("woff2");
  src: url(../fonts/OpenSans-SemiBold.woff) format("woff");
  font-weight: 600;
  font-style: regular;
}

@font-face {
  font-family: "open sans";
  src: url(../fonts/OpenSans-Bold.woff2) format("woff2");
  src: url(../fonts/OpenSans-Bold.woff) format("woff");
  font-weight: 700;
  font-style: regular;
}