body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'open sans', Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}
.no-scroll {
  overflow: hidden;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.menu {
  background: #F5F5F9;
  width: 100%;
  height: 84px;
}
.menu__body {
  margin: 0 auto;
  max-width: 62.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 84px;
}
@media (max-width: 1650px) {
  .menu__body {
    max-width: 80%;
  }
}
@media (max-width: 1350px) {
  .menu__body {
    max-width: 93.5%;
  }
}
.logo {
  cursor: pointer;
}
.logo__pic {
  max-height: 55px;
  margin-left: 22px;
}
@media (max-width: 1124px) {
  .logo__pic {
    margin-left: 0;
  }
}
.nav__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 43.5%;
}
@media (max-width: 1350px) {
  .nav__wrapper {
    width: 45%;
    margin-right: 30px;
  }
}
@media (max-width: 1023px) {
  .nav__wrapper {
    width: 55%;
  }
}
@media (max-width: 768px) {
  .nav__wrapper {
    display: flex;
    position: absolute;
    top: 54px;
    right: 0;
    flex-flow: column;
    width: 180px;
    height: 200px;
    margin: 0;
    z-index: 1;
    background: #F5F5F9;
    justify-content: space-evenly;
    align-items: center;
  }
}
.nav__link {
  display: block;
  text-decoration: none;
  color: #48494D;
  line-height: 22px;
  font-weight: 600;
  white-space: nowrap;
}
.nav__link:hover {
  color: black;
}
@media (max-width: 768px) {
  .nav__link {
    display: block;
  }
}
.main {
  width: 61%;
}
@media (max-width: 1650px) {
  .main {
    width: 75%;
  }
}
@media (max-width: 1350px) {
  .main {
    width: 90%;
  }
}
@media (max-width: 1124px) {
  .main {
    width: 98.5%;
  }
}
.main__wrapper {
  margin: 86px auto;
  display: flex;
}
@media (max-width: 1650px) {
  .main__wrapper {
    justify-content: space-between;
  }
}
@media (max-width: 1023px) {
  .main__wrapper {
    flex-flow: column;
    align-items: center;
    margin: 12px auto;
  }
}
@media (max-width: 768px) {
  .main__wrapper {
    align-items: start;
    margin-left: 20px;
    margin-right: 0;
    width: 97%;
  }
}
@media (max-width: 760px) {
  .main__wrapper {
    margin-left: 0;
    align-items: center;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .main__wrapper {
    margin-bottom: 40px;
  }
}
.slider {
  width: 600px;
}
@media (max-width: 1023px) {
  .slider {
    width: 729px;
  }
}
@media (max-width: 760px) {
  .slider {
    transform: scale(0.65);
    margin: -85px 0;
  }
}
@media (max-width: 500px) {
  .slider {
    transform: scale(1);
    width: 289px;
    height: 180px;
    margin: 0;
  }
}
.slider__main {
  position: relative;
  width: 600px;
  height: 375px;
}
@media (max-width: 1023px) {
  .slider__main {
    width: 729px;
    height: 454px;
  }
}
@media (max-width: 500px) {
  .slider__main {
    width: 289px;
    height: 180px;
  }
}
.slider__new-model {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #D12136;
  width: 122px;
  z-index: 1;
}
.slider__new-model p {
  margin: 7px 10px;
  color: white;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}
.slider__item {
  width: 600px;
  height: 375px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 1s ease;
}
@media (max-width: 1023px) {
  .slider__item {
    width: 729px;
    height: 454px;
  }
}
@media (max-width: 500px) {
  .slider__item {
    width: 289px;
    height: 180px;
  }
}
.slider__item picture img {
  height: 380px;
}
@media (max-width: 1023px) {
  .slider__item picture img {
    width: 729px;
    height: 454px;
  }
}
@media (max-width: 500px) {
  .slider__item picture img {
    width: 289px;
    height: 180px;
  }
}
.slider__item-opacity {
  opacity: 0;
}
.slider__control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 37px;
}
@media (max-width: 1023px) {
  .slider__control {
    justify-content: space-evenly;
    padding: 0 40px;
  }
}
@media (max-width: 760px) {
  .slider__control {
    transform: scale(1.25);
  }
}
@media (max-width: 500px) {
  .slider__control {
    display: none;
  }
}
.slider__btn {
  border-radius: 500px;
  border: 1px solid #D7D9DF;
  box-sizing: border-box;
  background: #FFFFFF;
  width: 52px;
  height: 52px;
  font-size: 24px;
  padding-bottom: 3px;
  cursor: pointer;
  outline: none;
}
.slider__mini-pic {
  margin: 3px 10px 0 10px;
  cursor: pointer;
}
.product-info {
  width: 340px;
}
@media (max-width: 1023px) {
  .product-info {
    width: 600px;
  }
}
@media (max-width: 760px) {
  .product-info {
    width: 75%;
  }
}
@media (max-width: 500px) {
  .product-info {
    width: 100%;
  }
}
.product-info__position {
  margin-left: 55px;
}
@media (max-width: 1023px) {
  .product-info__position {
    margin-left: 0;
    margin-top: 60px;
  }
}
@media (max-width: 760px) {
  .product-info__position {
    margin: 10px auto;
  }
}
@media (max-width: 500px) {
  .product-info__position {
    margin: 27px 0 0 15px;
  }
}
.product-info__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 14px;
  color: #48494D;
  margin-left: 1px;
  margin-top: 3px;
}
@media (max-width: 768px) {
  .product-info__title {
    margin-top: 7px;
  }
}
.product-info__icons-block {
  margin-top: 28px;
  display: flex;
}
.product-info__icon {
  margin-left: 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.product-info__icon-m-left-three {
  margin-left: 15px;
}
@media (max-width: 768px) {
  .product-info__icon-m-left-three {
    margin-left: 30px;
  }
}
@media (max-width: 500px) {
  .product-info__icon-m-left-three {
    margin-left: 22px;
  }
}
.product-info__icon-m-left-four {
  margin-left: 32px;
}
@media (max-width: 500px) {
  .product-info__icon-m-left-four {
    margin-left: 20px;
  }
}
.product-info__descript {
  line-height: 22px;
  text-align: center;
  color: rgba(72, 73, 77, 0.5);
}
.product-info__cost-block {
  margin-top: 37px;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .product-info__cost-block {
    margin-top: 25px;
  }
}
@media (max-width: 500px) {
  .product-info__cost-block {
    flex-flow: column;
    align-items: stretch;
  }
}
.product-info__current-cost {
  font-weight: bold;
  font-size: 35px;
  line-height: 48px;
  color: #48494D;
}
.product-info__old-cost {
  font-size: 20px;
  line-height: 27px;
  color: rgba(72, 73, 77, 0.5);
  margin-left: 40px;
  position: relative;
}
.product-info__old-cost:after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: rgba(72, 73, 77, 0.5);
  position: absolute;
  top: 50%;
  left: 0;
  transform: rotate(-5deg);
}
@media (max-width: 500px) {
  .product-info__old-cost:after {
    width: 120px;
  }
}
@media (max-width: 500px) {
  .product-info__old-cost {
    margin: 5px 0 0 5px;
  }
}
.product-info__request-btn {
  margin-top: 37px;
  background-color: #D12136;
  color: #FFFFFF;
  border: none;
  width: 196px;
}
.product-info__request-btn:hover {
  background: #BD0C21;
}
@media (max-width: 1023px) {
  .product-info__request-btn {
    margin: 30px 30px 0 0;
  }
}
.product-info__credit-btn {
  width: 222px;
  color: #D12136;
  margin-top: 16px;
  white-space: nowrap;
  border: 1px solid #D12136;
  background-color: white;
}
.product-info__credit-btn:hover {
  background: #D12136;
  color: white;
}
@media (max-width: 1023px) {
  .product-info__credit-btn {
    margin-top: 30px;
  }
}
@media (max-width: 500px) {
  .product-info__credit-btn {
    margin-top: 17px;
  }
}
.product-info__btn {
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  padding: 16px 20px;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
  height: 52px;
  box-sizing: border-box;
}
.product-info__links {
  display: flex;
  flex-flow: column wrap;
}
@media (max-width: 1023px) {
  .product-info__links {
    flex-flow: row;
  }
}
@media (max-width: 760px) {
  .product-info__links {
    flex-flow: column;
  }
}
.product-description {
  width: 60.5%;
}
@media (max-width: 1650px) {
  .product-description {
    width: 75%;
  }
}
@media (max-width: 1350px) {
  .product-description {
    width: 90%;
  }
}
@media (max-width: 1124px) {
  .product-description {
    width: 98.5%;
  }
}
@media (max-width: 1023px) {
  .product-description {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .product-description {
    align-items: start;
  }
}
.product-description__main {
  margin: 0 auto 140px auto;
}
@media (max-width: 768px) {
  .product-description__main {
    margin: 30px 0 140px 18px;
  }
}
@media (max-width: 760px) {
  .product-description__main {
    margin-left: 10px;
  }
}
@media (max-width: 500px) {
  .product-description__main {
    margin-bottom: 90px;
  }
}
.product-description__control-block {
  width: 51%;
  margin-bottom: 10px;
  min-width: 592px;
}
@media (max-width: 768px) {
  .product-description__control-block {
    margin-bottom: 37px;
  }
}
@media (max-width: 760px) {
  .product-description__control-block {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 500px) {
  .product-description__control-block {
    margin-bottom: 23px;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-flow: row nowrap;
  }
}
.product-description__btn {
  background-color: white;
  width: 33.33%;
  height: 50px;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #48494D;
  border: 1px solid #D7D9DF;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  float: left;
  letter-spacing: 0.5px;
}
.product-description__btn:last-child {
  float: none;
}
@media (max-width: 760px) {
  .product-description__btn {
    width: 30%;
  }
}
@media (max-width: 500px) {
  .product-description__btn {
    min-width: 195px;
    transition: 0.5s ease;
  }
}
@media (max-width: 760px) {
  .product-description__btn:first-child {
    width: 40%;
  }
}
@media (max-width: 500px) {
  .product-description__btn:first-child {
    min-width: 195px;
    transition: 0.5s ease;
  }
}
.product-description__btn-active {
  color: #FFFFFF;
  background: #D12136;
}
.characters-block {
  width: 565px;
  display: block;
}
@media (max-width: 768px) {
  .characters-block {
    width: 99%;
  }
}
.characters-block__item {
  border-bottom: 1px solid #D7D9DF;
  padding: 16px 0 8px 0;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .characters-block__item {
    padding: 20px 0 8px 0;
  }
}
@media (max-width: 500px) {
  .characters-block__item {
    padding: 22px 0 8px 0;
  }
}
.characters-block__name {
  color: #48494D;
}
@media (max-width: 500px) {
  .characters-block__name {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .characters-block__value {
    letter-spacing: -1px;
  }
}
.feedback {
  position: relative;
  display: none;
  font-size: 15px;
}
.feedback__block {
  margin-bottom: 32px;
}
@media (max-width: 1124px) {
  .feedback__block {
    width: 96%;
  }
}
@media (max-width: 768px) {
  .feedback__block {
    width: 95%;
    margin-bottom: 0;
  }
}
@media (max-width: 500px) {
  .feedback__block {
    margin-top: 25px;
  }
}
.feedback__block-hidden {
  display: none;
}
.feedback__alarm {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #D12136;
  margin-right: 9px;
}
.feedback_bold {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  margin: 19px 0 3px 0;
}
.feedback_shift-text {
  margin: 3px 0 13px 20px ;
}
.feedback_text {
  margin: 0 0 20px 0;
  width: 102%;
}
.feedback__send-btn {
  position: absolute;
  top: 2px;
  right: -18px;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #D12136;
  border: 1px solid #D12136;
  box-sizing: border-box;
  padding: 16px;
  background-color: white;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  cursor: pointer;
}
@media (max-width: 1124px) {
  .feedback__send-btn {
    right: 20px;
  }
}
@media (max-width: 1023px) {
  .feedback__send-btn {
    position: relative;
    margin-left: 30px;
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  .feedback__send-btn {
    position: relative;
    margin-left: 20px;
    margin-top: -10px;
  }
}
@media (max-width: 500px) {
  .feedback__send-btn {
    margin-left: 66px;
    margin-top: -5px;
  }
}
.feedback__send-btn:hover {
  background: #D12136;
  color: white;
}
.feedback__name {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #48494D;
  margin-bottom: 14px;
}
@media (max-width: 768px) {
  .feedback__name {
    font-size: 15px;
    margin-bottom: 8px;
  }
}
@media (max-width: 768px) {
  .feedback_hide-to-tablets {
    display: none;
  }
}
.feedback__advice {
  font-size: 15px;
  line-height: 20px;
  color: #D12136;
  margin-left: 10px;
}
.feedback__footer {
  margin-top: 26px;
}
.feedback__time {
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  opacity: 0.4;
}
.feedback__answer-link {
  font-size: 16px;
  line-height: 22px;
  color: #D12136;
  margin-left: 26px;
  cursor: pointer;
}
.feedback__answer {
  margin: 15px auto;
  width: 80%;
  height: 200px;
  animation-name: expandAnswer;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-play-state: paused;
  display: none;
  position: relative;
}
.feedback__answer textarea {
  width: 100%;
  height: 70%;
  resize: none;
  margin: 10px 0;
}
.feedback__rate img,
.feedback__rate picture {
  width: 17px;
  height: 17px;
  margin-right: 3px;
}
.feedback__answer-btn {
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #D12136;
  border: 1px solid #D12136;
  box-sizing: border-box;
  padding: 5.5px 10px;
  background-color: white;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
  outline: none;
  visibility: hidden;
}
.feedback__answer-btn:hover {
  background: #D12136;
  color: white;
}
.feedback__answer-close-btn {
  position: absolute;
  top: -10px;
  right: -40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
.feedback__modarate-message {
  position: fixed;
  top: 45%;
  left: 30%;
  width: 40%;
  height: 10vh;
  background-color: white;
  display: none;
  align-items: center;
  flex-flow: column;
  box-shadow: 2px 2px 10px black;
  padding: 20px;
  z-index: 15;
}
@keyframes expandAnswer {
  from {
    height: 0;
    display: none;
  }
  10% {
    display: block;
    height: 1px;
  }
  to {
    height: 200px;
  }
}
@keyframes hideAnswer {
  from {
    height: 200px;
    display: block;
  }
  10% {
    height: 199px;
  }
  to {
    height: 1px;
    display: none;
  }
}
.contact {
  width: 780px;
  display: none;
}
@media (max-width: 768px) {
  .contact {
    width: 700px;
  }
}
.contact__body {
  margin-top: 26px;
  justify-content: space-between;
  display: flex;
}
@media (max-width: 1023px) {
  .contact__body {
    justify-content: space-evenly;
  }
}
@media (max-width: 768px) {
  .contact__body {
    margin-top: -10px;
    justify-content: start;
  }
}
@media (max-width: 500px) {
  .contact__body {
    flex-flow: column;
  }
}
.contact__addr {
  width: 302px;
  margin-right: 100px;
}
@media (max-width: 768px) {
  .contact__addr {
    margin-right: 10px;
  }
}
@media (max-width: 760px) {
  .contact__addr {
    width: 180px;
    margin-right: 2px;
  }
}
@media (max-width: 500px) {
  .contact__addr {
    width: 100%;
  }
}
.contact__title {
  font-weight: bold;
  line-height: 22px;
  color: #1A212F;
  margin-bottom: 8px;
}
.contact__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 20px;
}
@media (max-width: 500px) {
  .contact__text {
    margin-bottom: 12px;
  }
}
.contact__text-null {
  margin: 0;
}
@media (max-width: 500px) {
  .contact__text-null {
    margin-bottom: 0;
  }
}
.contact__text:last-child {
  margin-bottom: 0;
}
.contact__link {
  text-decoration: none;
  color: black;
}
.contact__map {
  width: 510px;
}
@media (max-width: 1023px) {
  .contact__map {
    width: 283px;
    height: 283px;
  }
}
@media (max-width: 500px) {
  .contact_hide-mobile {
    display: none;
  }
}
.wrapper {
  position: relative;
  min-height: 100vh;
}
.wrapper__content {
  padding-bottom: 90px;
}
@media (max-width: 768px) {
  .wrapper__content {
    padding-bottom: 0;
    width: 99%;
  }
}
.footer {
  background: #F5F5F9;
  width: 100%;
  height: 84px;
}
@media (max-width: 1023px) {
  .footer {
    height: 166px;
  }
}
@media (max-width: 500px) {
  .footer {
    height: 299px;
  }
}
.footer__position {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
}
@media (max-width: 768px) {
  .footer__position {
    height: 166px;
    position: relative;
    margin-top: -52px;
  }
}
@media (max-width: 500px) {
  .footer__position {
    height: 299px;
  }
}
.footer__body {
  margin: 0 auto;
  max-width: 62%;
  height: 84px;
}
@media (max-width: 1650px) {
  .footer__body {
    max-width: 80%;
  }
}
@media (max-width: 1350px) {
  .footer__body {
    max-width: 99%;
  }
}
@media (max-width: 1023px) {
  .footer__body {
    height: 166px;
    box-sizing: border-box;
  }
}
@media (max-width: 500px) {
  .footer__body {
    height: 299px;
  }
}
.nav-footer__wrapper {
  display: flex;
  width: 100%;
  margin: 0 0 15px 30px;
  height: 84px;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1350px) {
  .nav-footer__wrapper {
    margin: 0 0 15px 0;
  }
}
@media (max-width: 1023px) {
  .nav-footer__wrapper {
    flex-flow: column;
  }
}
@media (max-width: 1023px) {
  .nav-footer__wrapper {
    height: 166px;
    padding: 10px;
    box-sizing: border-box;
  }
}
@media (max-width: 500px) {
  .nav-footer__wrapper {
    height: 299px;
  }
}
.nav-footer__group {
  display: flex;
  margin-right: 66px;
}
@media (max-width: 1350px) {
  .nav-footer__group {
    margin-right: 46px;
  }
}
@media (max-width: 1124px) {
  .nav-footer__group {
    margin-right: 26px;
  }
}
@media (max-width: 1023px) {
  .nav-footer__group {
    width: 92%;
    margin: 20px 0 0 70px;
  }
}
@media (max-width: 768px) {
  .nav-footer__group {
    width: 99%;
    margin-left: 0;
    margin-top: 10px;
  }
}
@media (max-width: 760px) {
  .nav-footer__group {
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 760px) {
  .nav-footer__group {
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 500px) {
  .nav-footer__group {
    flex-flow: column;
    justify-content: center;
    margin-top: 0;
  }
}
.nav-footer__group:last-child {
  margin-right: 40px;
}
@media (max-width: 1350px) {
  .nav-footer__group:last-child {
    margin-right: 0;
  }
}
@media (max-width: 768px) {
  .nav-footer__group:last-child {
    width: 82.5%;
  }
}
@media (max-width: 760px) {
  .nav-footer__group:last-child {
    width: 99%;
  }
}
.nav-footer__link {
  text-decoration: none;
  color: #48494D;
  font-weight: 600;
  white-space: nowrap;
  margin-right: 66px;
  margin-bottom: 10px;
}
@media (max-width: 1350px) {
  .nav-footer__link {
    margin-right: 46px;
  }
}
@media (max-width: 1124px) {
  .nav-footer__link {
    margin-right: 26px;
  }
}
@media (max-width: 1023px) {
  .nav-footer__link {
    width: 33%;
    margin-right: 26px;
  }
}
@media (max-width: 768px) {
  .nav-footer__link {
    margin-right: 100px;
  }
}
@media (max-width: 760px) {
  .nav-footer__link {
    margin: 0;
    white-space: initial;
  }
}
@media (max-width: 500px) {
  .nav-footer__link {
    white-space: nowrap;
    margin-top: 15px;
    text-align: center;
    width: 100%;
  }
}
.nav-footer__link:last-child {
  margin-right: 0px;
}
@media (max-width: 1023px) {
  .nav-footer__link:last-child {
    width: 15%;
  }
}
@media (max-width: 768px) {
  .nav-footer__link:last-child {
    margin-left: -60px;
    margin-right: 30px;
  }
}
@media (max-width: 760px) {
  .nav-footer__link:last-child {
    margin: 0;
    margin-right: 20px;
  }
}
@media (max-width: 500px) {
  .nav-footer__link:last-child {
    white-space: nowrap;
    margin-top: 15px;
    text-align: center;
    width: 100%;
  }
}
.nav-footer__link:hover {
  color: black;
}
.modal {
  width: 100%;
  height: 100vh;
  background-color: rgba(229, 229, 229, 0.8);
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 6s ease;
  display: none;
  animation-name: visible;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-play-state: paused;
  overflow: auto;
}
@keyframes visible {
  from {
    display: none;
    opacity: 0;
  }
  10% {
    display: block;
    opacity: 0.2;
  }
  50% {
    opacity: 0.4;
  }
  to {
    opacity: 0.8;
  }
}
@keyframes hidden {
  from {
    display: flex;
    opacity: 0.9;
  }
  10% {
    display: block;
    opacity: 0.8;
  }
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 0.1;
    display: none;
  }
}
.feed-window {
  position: fixed;
  top: 31.5%;
  left: 31.5%;
  width: 38.5%;
  height: 42%;
  min-width: 700px;
  min-height: 415px;
  z-index: 11;
  padding: 35px;
  padding-top: 15px;
  background-color: #F5F5F9;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
  display: none;
  animation-name: visible;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-play-state: paused;
}
@media (max-width: 1350px) {
  .feed-window {
    left: 25%;
  }
}
@media (max-width: 1124px) {
  .feed-window {
    left: 17%;
  }
}
@media (max-width: 1023px) {
  .feed-window {
    left: 9.5%;
  }
}
@media (max-width: 768px) {
  .feed-window {
    left: 3%;
  }
}
@media (max-width: 760px) {
  .feed-window {
    left: 12%;
    top: 15%;
    width: 70%;
    min-width: 400px;
    overflow: auto;
    height: 638px;
  }
}
@media (max-width: 500px) {
  .feed-window {
    top: 0;
    left: 0;
    width: 100%;
    min-width: 320px;
  }
}
@media (max-height: 560px) {
  .feed-window {
    top: 0;
    overflow-y: auto;
    justify-content: center;
    height: 100vh;
    padding: 0;
  }
}
@media (max-height: 370px) {
  .feed-window {
    justify-content: start;
  }
}
.feed-window__title {
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;
  color: #48494D;
}
@media (max-width: 500px) {
  .feed-window__title {
    margin-top: 1vh;
    margin-bottom: 0;
  }
}
@media (max-height: 560px) {
  .feed-window__title {
    margin-top: 5px;
    margin-bottom: 14px;
  }
}
.feed-window__form {
  display: flex;
}
@media (max-width: 760px) {
  .feed-window__form {
    flex-flow: column;
  }
}
@media (max-width: 500px) {
  .feed-window__form {
    margin-top: -7vh;
  }
}
@media (max-height: 560px) {
  .feed-window__form {
    margin-bottom: 7px;
  }
}
.feed-window__column {
  display: flex;
  flex-flow: column;
  width: 50%;
}
@media (max-width: 760px) {
  .feed-window__column {
    width: 100%;
    padding: 0;
  }
}
.feed-window__column-one {
  display: flex;
  flex-flow: column;
  width: 50%;
}
.feed-window__column-one input {
  min-width: 300px;
  height: 50px;
  padding: 15px 25px;
  box-sizing: border-box;
  margin-bottom: 16px;
  background: #FFFFFF;
  border: 1px solid rgba(72, 73, 77, 0.2);
}
@media (max-height: 560px) {
  .feed-window__column-one input {
    margin-bottom: 3px;
    height: 40px;
  }
}
.feed-window__column-two {
  padding-left: 28px;
}
.feed-window__column-two textarea {
  width: 100%;
  height: 118px;
  padding: 15px 25px;
  box-sizing: border-box;
  margin-bottom: 16px;
  background: #FFFFFF;
  border: 1px solid rgba(72, 73, 77, 0.2);
  resize: none;
}
@media (max-width: 500px) {
  .feed-window__column-two textarea {
    margin-bottom: 2vh;
  }
}
@media (max-height: 560px) {
  .feed-window__column-two textarea {
    margin-bottom: 0;
    height: 60px;
  }
}
@media (max-width: 500px) {
  .feed-window__column-two {
    margin-top: -2vh;
  }
}
@media (max-height: 560px) {
  .feed-window__column-two {
    margin-top: 0;
  }
}
.feed-window__error {
  font-size: 14px;
  line-height: 19px;
  color: #FF0000;
  margin: 0;
  visibility: hidden;
  display: block;
  position: relative;
}
.feed-window__error:before {
  content: '*';
  color: #D12136;
  position: absolute;
  bottom: -25px;
  left: 10px;
  visibility: visible;
}
.feed-window__rate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-top: 17px;
}
.feed-window__rate img {
  margin-left: 5px;
  width: 27px;
  height: 27px;
  padding-top: 5px;
  cursor: pointer;
}
@media (max-width: 760px) {
  .feed-window__rate {
    order: 1;
    flex-flow: column;
    margin-bottom: 25px;
  }
}
@media (max-width: 500px) {
  .feed-window__rate {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (max-height: 560px) {
  .feed-window__rate {
    display: none;
  }
}
.feed-window__text {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}
.feed-window__stars {
  display: inline;
}
.feed-window__send-btn {
  height: 52px;
  background: #D12136;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 16px 20px;
  border: none;
  outline: none;
  cursor: pointer;
}
.feed-window__send-btn:hover {
  background: #BD0C21;
}
@media (max-height: 560px) {
  .feed-window__send-btn {
    margin-top: 0;
    height: 35px;
    padding: 0 20px;
  }
}
.feed-window__close-btn {
  position: absolute;
  top: 25px;
  right: 25px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
@media (max-width: 500px) {
  .feed-window__close-btn {
    top: 15px;
    right: 8px;
  }
}
.burger {
  position: relative;
  width: 29px;
  height: 22px;
  cursor: pointer;
  display: none;
  margin-bottom: 10px;
  margin-right: -15px;
  -webkit-tap-highlight-color: transparent;
}
@media (max-width: 768px) {
  .burger {
    display: block;
  }
}
@media (max-width: 500px) {
  .burger {
    margin-right: 5px;
  }
}
.burger__dash {
  width: 29px;
  height: 2px;
  background-color: #48494D;
  display: block;
}
.burger__dash::before {
  content: '';
  width: 29px;
  height: 2px;
  background-color: #48494D;
  display: block;
  position: absolute;
  top: 9px;
}
.burger__dash::after {
  content: '';
  width: 29px;
  height: 2px;
  background-color: #48494D;
  display: block;
  position: absolute;
  top: 18px;
}
.burger__close-btn {
  font-size: 42px;
  position: absolute;
  top: -20px;
  right: 0;
}
@font-face {
  font-family: "open sans";
  src: url(../fonts/OpenSans-Regular.woff2) format("woff2");
  src: url(../fonts/OpenSans-Regular.woff) format("woff");
  font-weight: regular;
  font-style: regular;
}
@font-face {
  font-family: "open sans";
  src: url(../fonts/OpenSans-SemiBold.woff2) format("woff2");
  src: url(../fonts/OpenSans-SemiBold.woff) format("woff");
  font-weight: 600;
  font-style: regular;
}
@font-face {
  font-family: "open sans";
  src: url(../fonts/OpenSans-Bold.woff2) format("woff2");
  src: url(../fonts/OpenSans-Bold.woff) format("woff");
  font-weight: 700;
  font-style: regular;
}
