// Artem Lamzov
// Created: 11.06.20
// Finished: -

// Переменные;

@import './vars.less';

// Общие стили;

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'open sans', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

.no-scroll {
    overflow: hidden;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }

// Основные блоки;

@import './blocks/navigation.less';
@import './blocks/main.less';
@import './blocks/slider.less';
@import './blocks/product-info.less';
@import './blocks/product-description.less';
@import './blocks/characters-block.less';
@import './blocks/feedback.less';
@import './blocks/contact.less';
@import './blocks/wrapper.less';
@import './blocks/footer.less';
@import './blocks/modal.less';
@import './blocks/feed-window.less';
@import './blocks/burger.less';

// Шрифты;

@import './font.less';